rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // kakeiboコレクションのデータは、allowedUsersコレクションにUIDが存在するユーザーのみアクセスを許可
    match /kakeibo/{docId} {
      allow read, write: if exists(/databases/$(database)/documents/allowedUsers/$(request.auth.uid));
    }

    // ユーザーは自分のUIDに対応するallowedUsersドキュメントのみ読み取り可能
    match /allowedUsers/{userId} {
      allow read: if request.auth.uid == userId;
      allow write: if false;
    }
  }
}